<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Malerladen Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="onLogin()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Benutzername</mat-label>
          <input
            matInput
            [(ngModel)]="username"
            name="username"
            (input)="clearErrorMessage()"
            required
          />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Passwort</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            [(ngModel)]="password"
            name="password"
            (input)="clearErrorMessage()"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          class="full-width"
          type="submit"
        >
          Anmelden
        </button>
      </form>
      @if (errorMessage) {
      <mat-error>{{ errorMessage }}</mat-error>
      }
    </mat-card-content>
  </mat-card>
</div>
